[Unit]
Description=SMS daemon for Gammu
Documentation=man:gammu-smsd(1)
After=network.target mysql.service postgresql.service

[Service]
Type=forking
{% if gammu_smsd__service_environment is defined %}
EnvironmentFile=-{{ gammu_smsd__service_environment }}
{% endif %}
PIDFile={{ gammu_smsd__service_pidfile }}
ExecStart={{ gammu_smsd__executable }} --config={{ gammu_smsd__gammusmsdrc_file }} --pid={{ gammu_smsd__service_pidfile }} --daemon --user={{ gammu_smsd__user }} --group={{ gammu_smsd__group }}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
